/db/
/*.qws
/*.done
/*.fit.smsg
/*.fit.summary
/*.jdi
/*.map.smsg
/*.map.summary
/*.pin
/*.sof
/*.pof
/*.sta.summary
/DE0_NANO_QSYS/
/*.sopcinfo
/incremental_db/
/*.rpt
/*.sld
*.sopcinfo
/.qsys_edit/
/*.bak